{% extends 'base.html' %}
{% block head %}
<title>{{header}}</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

{% endblock %}

{% block body %}
<h2>{{title}}</h2>
<h3>{{table_title}}</h3>

<div class="table-wrapper">
<table class="fl-table">
    <thead>
    <tr>
    <th>Name</th>
    <th>CWID</th>
    <th>Course</th>
    <th>Grade</th>
    <th>Instructor</th>
    </tr>
    </thead>
    {% for student in student %}
        <tr>
            <td>{{student.Name}}</td>
            <td>{{student.CWID}}</td>
            <td>{{student.Course}}</td>
            <td>{{student.Grade}}</td>
            <td>{{student.Instructor}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
</div>